{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class="row">
    <div id="login" class="span12">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ login_form | bootstrap }}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
