{% extends "dns/ddns/base.html" %}
{% load bootstrap %}

{% block ddns_content %}
<div class="page-header">

{% if form_action == 'create' %}
    <h2>create a new domain</h2>
{% else %}
    <h2>update domain: <small>{{ record }}</small></h2>
{% endif %}

</div>

<div class="row">
    <div class="span12">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            {# include "base_form.html" #}
            {{ form | bootstrap }}
            <div class="control-group">
                <div class="controls">
                    {% if form_action == 'create' %}
                    <button type="submit" class="btn">create</button>
                    {% else %}
                    <button type="submit" class="btn">update</button>
                    {% endif %}
                    <button type="button" onclick="history.back(0);" class="btn">cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
