{% extends "dns/ddns/base.html" %}
{% block ddns_content %}
{% if form_action == 'create' %}
    <h2>create a new domain</h2>
{% else %}
    <h2>update domain: <i>{{ record }}</i></h2>
{% endif %}

    <form method="post" class="form">
        {% csrf_token %}
        {# include "base_form.html" #}
        <ol>
            {{ form.as_ul }}
            <li id="send">
                {% if form_action == 'create' %}
                <button type="submit" class="btn create">create</button>
                {% else %}
                <button type="submit" class="btn update">update</button>
                {% endif %}
                <button type="button" onclick="history.back(0);" class="btn">cancel</button>
            </li>
        </ol>
    </form>
    {% if record %}

{% endif %}
{% endblock %}
